<script src="/javascripts/game_functions.js"></script>
<script src="/javascripts/AI.js"></script>
<script src="/javascripts/game.js"></script>
<link href="/stylesheets/game.css" rel="stylesheet">
<div id="room1" hidden>
	<h3>room1</h3>
	<button id="btn_draw">Draw Card</button>
	<button id="btn_stand">Stand</button>
	<button id="btn_status">Status</button>
	<p> Check the console log </p>
	</br>
	<h3> items in this room here: </h3>
	<% for(let i=0; i< roomItems.room1.length; i++) {%>
	<div id="choice<%=i%>" class="btns"> <%=roomItems.room1[i]%></div>
	<% } %>
</div>
<div id="room2" hidden>
	<h3>room2</h3>
	<button id="btn_draw2">Draw Card</button>
	<button id="btn_stand2">Stand</button>
	<button id="btn_status2">Status</button>
	<p> Check the console log </p>
	</br>
	<h3> items in this room here: </h3>
	<% for(let i=0; i< roomItems.lobby.length; i++) {%>
	<div id="choice<%=i%>" class="btns"> <%=roomItems.room2[i]%></div>
	<% } %>
</div>
<div id="room3" hidden>
	<h3>room3</h3>
	<button id="btn_draw3">Draw Card</button>
	<button id="btn_stand3">Stand</button>
	<button id="btn_status3">Status</button>
	<p> Check the console log </p>
	</br>
	<h3> items in this room here: </h3>
	<% for(let i=0; i< roomItems.lobby.length; i++) {%>
	<div id="choice<%=i%>" class="btns"> <%=roomItems.room3[i]%></div>
	<% } %>
</div>
